body {
  /*overflow: hidden;*/
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.nav-contact {
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: background-color 400ms ease, color 400ms ease, text-shadow 400ms ease;
  transition: background-color 400ms ease, color 400ms ease, text-shadow 400ms ease;
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.nav-contact:hover {
  background-color: #330867;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
  color: #fff;
}

.nav-contact.secondary {
  border-color: #303f9f;
  color: #303f9f;
}

.nav-contact.secondary:hover {
  background-color: #303f9f;
  color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.nav-link {
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  font-weight: 400;
}

.nav-link:hover {
  opacity: 0.6;
}

.nav-link:focus {
  opacity: 0.6;
}

.nav-link.secondary {
  color: #303f9f;
  font-weight: 400;
}

.hero {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(315deg, rgba(248, 54, 0, .8), rgba(240, 169, 26, .9));
  background-image: linear-gradient(135deg, rgba(248, 54, 0, .8), rgba(240, 169, 26, .9));
}

.brand {
  position: static;
  display: inline-block;
  overflow: visible;
  width: 160px;
  margin-top: 16px;
  float: left;
  clear: none;
}

.body {
  overflow: visible;
  font-family: 'Exo 2', sans-serif;
}

.hero-h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 80px;
  line-height: 90px;
  font-weight: 500;
  text-align: right;
  letter-spacing: 1.4px;
}

.text-block {
  max-width: 570px;
  float: right;
  text-align: right;
}

.text-block.hero-p {
  max-width: 540px;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  font-weight: 100;
}

.text-block.hero-p.contact-p {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  float: none;
  opacity: 0.6;
  text-align: center;
}

.hero-text {
  margin-top: 140px;
  margin-right: 140px;
  margin-left: 140px;
}

.text-span {
  font-weight: 100;
}

.nav {
  display: block;
  margin-right: 140px;
  margin-left: 140px;
}

.features {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -36px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.features.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.feature-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  height: 327px;
  margin-right: 20px;
  margin-bottom: 32px;
  margin-left: 20px;
  padding-top: 32px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .1);
  -webkit-transition: box-shadow 400ms ease, -webkit-transform 400ms ease;
  transition: box-shadow 400ms ease, -webkit-transform 400ms ease;
  transition: box-shadow 400ms ease, transform 400ms ease;
  transition: box-shadow 400ms ease, transform 400ms ease, -webkit-transform 400ms ease;
  text-align: center;
}

.feature-box:hover {
  box-shadow: 0 10px 14px 6px rgba(252, 163, 17, .2);
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

.feature-box.cta {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 460px;
  height: 484px;
  margin-top: 80px;
  margin-left: 240px;
  padding-top: 88px;
  padding-right: 100px;
  padding-left: 48px;
  float: left;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-bottom: 10px solid #fca311;
}

.feature-box.customer {
  display: inline-block;
  width: 290px;
  height: auto;
  margin-top: 0px;
  margin-right: 32px;
  margin-left: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.feature-box.services {
  width: 250px;
  margin-right: 16px;
  margin-left: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.feature-box.services.row1 {
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feature-title {
  display: block;
  width: 150px;
  margin: 0px auto 16px;
  font-family: 'Exo 2', sans-serif;
  color: #303f9f;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}

.customer {
  display: block;
  margin: 8px auto 32px;
}

.feature-p {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Exo 2', sans-serif;
  color: #605f5f;
  font-size: 18px;
  line-height: 27px;
  font-weight: 200;
  text-align: center;
}

.heading-4 {
  display: block;
  margin-top: 0px;
  margin-bottom: 48px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #303f9f;
  font-weight: 200;
  text-align: center;
}

.heading-4.contact-title {
  margin-bottom: 8px;
  color: #fff;
}

.partner-logo {
  margin-right: 48px;
  margin-bottom: 32px;
  margin-left: 48px;
  -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: opacity 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, opacity 300ms ease;
  transition: transform 300ms ease, opacity 300ms ease, -webkit-transform 300ms ease;
}

.partner-logo:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.partners {
  display: block;
  margin-top: 100px;
  text-align: center;
}

.service {
  overflow: visible;
  height: 500px;
  margin-top: 112px;
  background-image: url('../images/ctaback.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.image-2 {
  display: none;
  float: right;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 24px;
  color: #303f9f;
  font-weight: 500;
  text-align: left;
}

.p {
  font-family: 'Exo 2', sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 27px;
  font-weight: 200;
  text-align: left;
}

.p.body-content {
  width: 40%;
  margin-top: 122px;
}

.p.body-content.services {
  width: 80%;
}

.p.body-content.career-detail {
  width: 80%;
  margin-top: 24px;
}

.p.body-content.career-detail.list {
  width: 100%;
  margin-bottom: 48px;
  line-height: 37px;
}

.p.position-name {
  display: inline-block;
  margin-bottom: 8px;
  float: left;
  clear: none;
  color: #330867;
}

.p.back {
  color: #330867;
  text-decoration: none;
}

.p.career-location {
  color: #330867;
}

.p.career-sub-title {
  margin-top: 88px;
  color: #330867;
  font-weight: 600;
}

.text-span-2 {
  font-weight: 200;
}

.image-3 {
  position: absolute;
  top: 153px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: none;
  float: right;
  clear: none;
}

.customers {
  display: block;
  margin-top: 132px;
  padding-top: 16px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  text-align: center;
}

.text-span-3 {
  font-weight: 500;
}

.customer-name {
  margin-top: 16px;
  margin-bottom: 4px;
  direction: ltr;
  color: #fca311;
  font-size: 18px;
  text-decoration: none;
}

.customer-title {
  color: #605f5f;
  font-size: 12px;
  font-weight: 200;
}

.feature-icon {
  margin-bottom: 24px;
}

.nav-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 8;
  display: none;
  overflow: hidden;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 140px;
  padding-bottom: 8px;
  padding-left: 140px;
  background-color: rgba(20, 33, 61, .9);
  box-shadow: 0 1px 8px 2px rgba(0, 0, 0, .3);
}

.footer {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 110px;
  background-image: -webkit-linear-gradient(21deg, #f96923, #f9bb22);
  background-image: linear-gradient(69deg, #f96923, #f9bb22);
}

.form-block {
  display: block;
  overflow: visible;
  width: 100%;
  max-width: auto;
  margin-right: auto;
  margin-left: auto;
}

.form-left {
  height: 48px;
  max-width: 290px;
  margin-bottom: 16px;
  float: none;
  border-style: none;
  border-radius: 4px;
  background-color: rgba(70, 62, 170, .3);
  color: #fff;
  font-size: 14px;
  font-weight: 200;
}

.form-left.form-right {
  height: 112px;
  padding-top: 8px;
  direction: ltr;
  text-align: left;
  text-transform: none;
}

.row {
  position: relative;
  z-index: 3;
  display: block;
  width: 620px;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.column {
  position: static;
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.column-2 {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.contact-title {
  position: relative;
  z-index: 3;
  display: block;
  margin-bottom: 64px;
}

.submit-button {
  width: 100%;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
}

.submit-button.nav-contact {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form {
  display: block;
}

.lefooter {
  position: relative;
  z-index: 3;
  margin-top: 89px;
  margin-bottom: 0px;
}

.lefooter.secondaryf {
  margin-bottom: 110px;
}

.div-block-12 {
  display: block;
  height: 1px;
  max-width: 1143px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(20, 33, 61, .4);
}

.text-block-3 {
  padding-top: 26px;
  font-family: 'Exo 2', sans-serif;
  color: #14213d;
  font-size: 14px;
  font-weight: 200;
}

.image-5 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: none;
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
}

.section {
  overflow: visible;
  margin-top: 140px;
  padding-left: 140px;
}

.h0 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: 'Exo 2', sans-serif;
  color: #330867;
  font-size: 80px;
  line-height: 100px;
  font-weight: 100;
}

.main-desc {
  width: 484px;
  font-family: 'Exo 2', sans-serif;
  color: #330867;
  font-size: 24px;
  line-height: 36px;
  font-weight: 200;
}

.main-desc.opening {
  display: inline-block;
  margin-top: 84px;
  margin-bottom: 24px;
  clear: right;
}

.image-6 {
  position: absolute;
  top: 140px;
  right: 0px;
  bottom: 0px;
  z-index: -3;
  width: 820px;
}

.image-7 {
  position: absolute;
  top: 32px;
  right: 0px;
  bottom: 0px;
}

.image-8 {
  position: absolute;
  top: 364px;
  right: 432px;
  bottom: 0px;
}

.img-box {
  position: relative;
  top: 400px;
  bottom: 0px;
  display: block;
  width: 640px;
  height: 410px;
  float: right;
  border-radius: 4px;
  background-image: url('../images/nigel-tadyanehondo-239555.jpg');
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 1px 1px 10px 6px rgba(0, 0, 0, .06);
}

.img-box.trucks {
  top: 290px;
  width: 50%;
  height: 370px;
  background-position: 50% 50%;
}

.img-box.laptop {
  position: static;
  width: 540px;
  margin-top: 88px;
  float: left;
  background-image: url('../images/carlos-muza-84523.jpg');
}

.img-box.road {
  position: relative;
  top: 0px;
  right: 80px;
  width: 560px;
  height: 350px;
  float: none;
  background-image: url('../images/oscar-nilsson-288758.jpg');
}

.img-box.a-truck {
  position: relative;
  top: -30px;
  right: -100px;
  width: 460px;
  height: 600px;
  margin-top: -42px;
  float: none;
  background-image: url('../images/7802.jpg');
  background-position: 100% 50%;
}

.img-box.truck-front {
  position: relative;
  top: 0px;
  right: 80px;
  width: 560px;
  height: 350px;
  float: none;
  background-image: url('../images/780-flip.jpeg');
}

.image-10 {
  position: relative;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  display: block;
  margin-top: 180px;
  float: right;
  clear: none;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.image-11 {
  position: absolute;
  right: -230px;
  bottom: -110px;
}

.image-12 {
  position: absolute;
  right: -290px;
  bottom: 10px;
  z-index: -1;
  display: inline-block;
  float: none;
  clear: none;
}

.position {
  position: static;
  display: block;
  width: 100%;
  margin-bottom: 24px;
  padding: 24px 32px;
  float: none;
  clear: none;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .16);
}

.position-location {
  position: static;
  display: inline-block;
  float: left;
  clear: left;
  font-family: 'Exo 2', sans-serif;
  color: rgba(51, 8, 103, .4);
  font-weight: 700;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 132px;
  height: 50px;
  float: right;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #330867;
  box-shadow: 0 3px 8px 2px rgba(0, 0, 0, .2);
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 200;
  text-align: center;
}

.button.learn-more {
  position: static;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  margin-top: -30px;
  float: right;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-transition: box-shadow 300ms ease, margin 300ms ease, background-color 300ms ease;
  transition: box-shadow 300ms ease, margin 300ms ease, background-color 300ms ease;
}

.button.learn-more:hover {
  margin-top: -33px;
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, .24);
}

.button.learn-more:active {
  margin-top: -30px;
  background-color: rgba(51, 8, 103, .8);
}

.button.apply {
  position: static;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  width: 122px;
  margin-top: 0px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-transition: box-shadow 300ms ease, margin 300ms ease, background-color 300ms ease;
  transition: box-shadow 300ms ease, margin 300ms ease, background-color 300ms ease;
}

.button.apply:hover {
  position: relative;
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, .24);
}

.button.apply:active {
  margin-top: 0px;
  background-color: rgba(51, 8, 103, .8);
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.display-testimonials {
  color: #fca311;
}

.hidden-text-1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Exo 2', sans-serif;
  color: #605f5f;
  font-size: 18px;
  line-height: 27px;
  font-weight: 200;
  text-align: center;
}

.show-text {
  color: rgba(252, 163, 17, .8);
  text-decoration: none;
}

.div-block-13 {
  display: block;
  width: 80%;
  height: 0.5px;
  margin: 8px auto 24px;
  background-color: rgba(0, 0, 0, .04);
}

.career-title {
  margin-top: 64px;
  font-family: 'Exo 2', sans-serif;
  color: #330867;
  font-weight: 200;
}

.bullet {
  color: #fca311;
}

.success-message {
  background-color: transparent;
}

.text-block-5 {
  color: #fff;
  text-align: center;
}

.error-message {
  background-color: #330867;
}

html.w-mod-js *[data-ix="fadein"] {
  opacity: 0;
  -webkit-transform: translate(0px, 80px);
  -ms-transform: translate(0px, 80px);
  transform: translate(0px, 80px);
}

html.w-mod-js *[data-ix="decoration-in"] {
  display: none;
  opacity: 0;
  -webkit-transform: translate(100px, -100px);
  -ms-transform: translate(100px, -100px);
  transform: translate(100px, -100px);
}

html.w-mod-js *[data-ix="decoration-in-2-footer"] {
  display: none;
  opacity: 0;
  -webkit-transform: translate(100px, -100px);
  -ms-transform: translate(100px, -100px);
  transform: translate(100px, -100px);
}

html.w-mod-js *[data-ix="display-none-on-load"] {
  display: none;
  opacity: 0;
}

@media (max-width: 991px) {
  .nav-contact {
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: none;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
    color: #fff;
  }
  .nav-contact:hover {
    border-color: transparent;
    background-color: transparent;
  }
  .nav-contact.secondary {
    color: #fff;
  }
  .nav-menu {
    background-color: rgba(20, 33, 61, .9);
  }
  .navbar {
    margin-right: -80px;
    margin-left: -80px;
    padding-top: 10px;
  }
  .nav-link {
    background-color: rgba(20, 33, 61, .9);
    color: #fff;
  }
  .nav-link.secondary {
    color: #fff;
  }
  .nav-link.secondary.w--current {
    color: #fff;
  }
  .hero-h1 {
    width: auto;
    font-size: 69px;
    line-height: 80px;
  }
  .hero-text {
    position: relative;
    z-index: 3;
    margin-top: 170px;
    margin-right: 100px;
    margin-left: 100px;
  }
  .feature-box.cta {
    margin-left: 70px;
    clear: none;
  }
  .feature-box.customer {
    margin-right: 32px;
    margin-left: 32px;
  }
  .partners {
    padding-right: 56px;
    padding-left: 56px;
  }
  .service {
    clear: none;
    background-position: 78% 50%;
    background-size: auto;
    background-attachment: scroll;
  }
  .image-2 {
    position: absolute;
    right: 0px;
    float: right;
    clear: none;
  }
  .p.body-content {
    width: 60%;
  }
  .p.body-content.services {
    width: 100%;
    margin-top: 100px;
  }
  .p.body-content.career-detail {
    width: 100%;
    margin-top: 100px;
  }
  .p.body-content.career-detail.list {
    margin-top: 24px;
  }
  .image-3 {
    position: absolute;
    z-index: 2;
  }
  .menu-button {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .menu-button.w--open {
    background-color: rgba(20, 33, 61, .9);
  }
  .icon {
    font-size: 34px;
  }
  .footer {
    padding-right: 100px;
    padding-left: 100px;
  }
  .form-left.form-right {
    margin-bottom: 16px;
  }
  .row {
    display: block;
    width: 560px;
    margin-right: auto;
    margin-left: auto;
  }
  .submit-button.nav-contact {
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
  }
  .lefooter.secondaryf {
    margin: -100px 56px 0px;
  }
  .lefooter.secondaryf.services {
    margin-top: 64px;
    margin-bottom: 100px;
  }
  .lefooter.secondaryf.careers {
    margin-top: 48px;
    margin-bottom: 100px;
  }
  .section {
    margin-top: 150px;
    padding-left: 56px;
  }
  .main-desc {
    width: 100%;
  }
  .image-6 {
    top: 140px;
    right: -230px;
  }
  .image-7 {
    top: 32px;
  }
  .image-8 {
    left: -60px;
    top: 374px;
    right: auto;
    bottom: auto;
    z-index: -1;
  }
  .img-box.trucks {
    position: absolute;
    top: 760px;
    right: -90px;
    width: 450px;
    height: 270px;
    background-position: 50% 50%;
  }
  .img-box.laptop {
    width: 340px;
    height: 240px;
  }
  .img-box.a-truck {
    top: -50px;
    right: -60px;
    width: 80%;
    height: 32%;
  }
  .image-10 {
    top: -50px;
  }
  .column-4 {
    z-index: -1;
    overflow: visible;
  }
  .image-11 {
    right: -430px;
    bottom: 0px;
    max-width: 120%;
  }
  .row-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .row-2.careers {
    overflow: visible;
  }
  .image-12 {
    right: -350px;
    bottom: 230px;
    max-width: 110%;
  }
  .position {
    width: 150%;
  }
  .button.learn-more {
    margin-top: -30px;
    float: right;
    clear: none;
  }
  .button.apply {
    margin-top: 0px;
    float: none;
    clear: none;
  }
}

@media (max-width: 767px) {
  .hero-h1 {
    font-size: 53px;
    line-height: 60px;
  }
  .text-block.hero-p {
    font-size: 20px;
  }
  .hero-text {
    margin-top: 180px;
    margin-right: 64px;
    margin-left: 64px;
  }
  .feature-box {
    margin-right: 8px;
    margin-left: 8px;
  }
  .feature-box.cta {
    position: relative;
    z-index: 3;
  }
  .image-2 {
    z-index: 2;
  }
  .row {
    width: 310px;
  }
  .submit-button.nav-contact {
    position: static;
    width: 290px;
  }
}

@media (max-width: 479px) {
  .nav-contact {
    display: block;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: none;
    border-radius: 0px;
  }
  .nav-contact.secondary {
    color: #fff;
  }
  .nav-menu {
    background-color: rgba(20, 33, 61, .9);
  }
  .navbar {
    margin-right: -120px;
    margin-left: -120px;
  }
  .nav-link.secondary {
    color: #fff;
  }
  .nav-link.secondary.w--current {
    color: #fff;
  }
  .hero {
    height: 100vh;
  }
  .hero-h1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: right;
    clear: none;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }
  .text-block.hero-p {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
  .hero-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 110px;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .feature-box {
    display: block;
    height: 164px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .feature-box.cta {
    display: block;
    width: 260px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 32px 20px;
    float: none;
    text-align: center;
  }
  .feature-box.customer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 24px;
  }
  .feature-box.stretch {
    height: 184px;
  }
  .feature-title {
    width: 140px;
    float: right;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  .feature-p {
    float: none;
    color: #333;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.25px;
  }
  .heading-4.contact-title {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .partner-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .partners {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 132px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .service {
    display: block;
    margin-top: 132px;
    background-position: 60% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .image-2 {
    position: relative;
    top: 0px;
    right: 0px;
    display: none;
    float: none;
  }
  .heading-5 {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
  }
  .p {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .p.body-content {
    width: 100%;
    margin-top: 82px;
    text-align: left;
  }
  .p.body-content.services {
    margin-top: 70px;
  }
  .p.body-content.career-detail {
    margin-top: 32px;
    text-align: center;
  }
  .p.position-name {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 24px;
    text-align: left;
  }
  .p.back {
    margin-left: 0px;
    text-align: left;
  }
  .p.career-location {
    text-align: center;
  }
  .image-3 {
    top: 273px;
    z-index: 0;
    width: 270px;
    height: auto;
  }
  .customers {
    display: block;
    margin-top: 132px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu-button {
    padding-top: 16px;
  }
  .menu-button.w--open {
    background-color: rgba(20, 33, 61, .9);
  }
  .icon {
    font-size: 32px;
  }
  .feature-icon {
    max-height: 33%;
    float: left;
  }
  .footer {
    display: block;
    margin-top: 132px;
    padding: 70px 10px 80px;
  }
  .form-left {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    width: 290px;
  }
  .column-2 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .submit-button.nav-contact {
    width: 100%;
    border-radius: 4px;
  }
  .form {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .lefooter {
    padding-right: 20px;
    padding-left: 20px;
  }
  .lefooter.secondaryf {
    margin: 48px 0px 80px;
  }
  .lefooter.secondaryf.services {
    padding-right: 32px;
    padding-left: 32px;
  }
  .section {
    position: static;
    display: block;
    margin-top: 88px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .h0 {
    font-size: 42px;
    line-height: 40px;
  }
  .main-desc {
    width: auto;
    font-size: 16px;
    line-height: 24px;
  }
  .main-desc.opening {
    font-size: 26px;
  }
  .image-6 {
    top: 120px;
    right: -90px;
    z-index: 0;
    display: block;
    opacity: 0.3;
  }
  .image-7 {
    top: -135px;
    right: -140px;
    z-index: -1;
  }
  .image-8 {
    left: -240px;
    top: 164px;
  }
  .image-10 {
    position: static;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 30px;
    float: right;
    clear: none;
  }
  .image-11 {
    top: -10px;
    right: -150px;
    bottom: auto;
  }
  .position {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .position-location {
    margin-bottom: 20px;
  }
  .button.learn-more {
    margin-top: 0px;
  }
  .button.learn-more:hover {
    margin-top: 3px;
  }
  .button.learn-more:active {
    margin-top: 0px;
  }
  .button.apply {
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .button.apply:hover {
    margin-top: 3px;
  }
  .button.apply:active {
    margin-top: 0px;
  }
  .hidden-text-1 {
    float: right;
    color: #333;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.25px;
  }
  .career-title {
    text-align: center;
  }
}

